.columns > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 3.2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 3rem;
}

.columns img {
    width: 100%;
}

.columns.small-images img {
    width: 330px;
}

.company-pages .columns h2,
.company-pages .columns h2 > a {
    color: var(--color-tour-blue);
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns.small-images > div > div.columns-contains-image {
        flex: 0 1 330px;
    }
}