header .header {
  --header-border-color: var(--color-black-20);
  --header-background-color: var(--color-white);
}

header .header.appear {
  display: flex;
  padding-block: 2rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--header-border-color);
}

header .header li {
  list-style: none;
}

header .header a:hover {
  text-decoration: none;
}

header .header button {
  border: none;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

header .header button svg {
  width: 24px;
  height: 24px;
}

header .header .header-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  width: 100%;
}

header .header .header-container .brand {
  display: flex;
}

/* primary nav list */
header .header .header-container .primary-navigation {
  display: none;
}

header .header .navigation-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height-m);
  letter-spacing: var(--heading-letter-spacing-m);
  font-weight: 600;
}

header .header .navigation-list.secondary-navigation-list {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-line-height-s);
  letter-spacing: var(--heading-letter-spacing-s);
}

@media (min-width: 900px) {
  header .header .header-container .primary-navigation {
    display: flex;
  }

  header .header .navigation-list { 
    flex-direction: row;
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-line-height-xs);
    letter-spacing: var(--heading-letter-spacing-xs);
  }

  /* more subnav */
  header .header .header-container .primary-navigation-list li.more {
    position: relative;
  }

  header .header .header-container .primary-navigation-list li.more svg {
    width: 10px;
    height: 10px;
    margin-left: 4px;
    transition: transform .3s;
  }  

  header .header .header-container .primary-navigation-list li.more.open svg {
    transform: rotate(180deg);
  }

  header .header .header-container .primary-navigation-list li.more > div {
    visibility: hidden;
    position: absolute;
    min-width: max-content;
    min-height: max-content;
    inset: 0;
    transform: translate3d(-40px, 40px, 0);
    background-color: var(--header-background-color);
    border: 1px solid var(--header-border-color);
    border-radius: 8px;
    font-size: var(--heading-font-size-xxs);
    line-height: var(--heading-line-height-xxs);
    letter-spacing: var(--heading-letter-spacing-xxs);
  }

  header .header .header-container .primary-navigation-list li.more.open > div {
    visibility: visible;
  }

  header .header .header-container .primary-navigation-list li.more > div > ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: var(--body-font-size-xs);
    padding: .8rem 3.2rem;
  }
}

/* general dialog, nav and tours */
header .header .dialog-container {
  display: grid;
}

header .header .dialog-container .dialog-header {
  height: var(--nav-height);
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .header .dialog-container .dialog-header-content {
  display: flex;
  align-items: center;
}

header .header .dialog-container .dialog-header .close {
  position: absolute;
  right: 3rem;
}

header .header .dialog-container .dialog-header .close svg {
  width: 32px;
  height: 32px;
}

/* tours button */
header .header .dialog-container .dialog-header .tours {
  display: flex;
  gap: 2rem;
  padding: .5rem 1rem .5rem .5rem;
  border-radius: 100vh;
  align-items: center;
  position: relative;
  background-color: var(--color-tour-blue);
  color: var(--header-background-color);
}

header .header .primary-navigation-dialog .dialog-container .dialog-header .tours .img-wrap {
  background-color: var(--header-background-color);
  padding: 3px;
  border-radius: 100vh;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header .dialog-container .dialog-header .tours .open-tours svg {
  width: 10px;
}

/* primary nav dialog */ 
header .header .primary-navigation-dialog {
  width: 100%;
  height: 100%;
  border-color: var(--header-background-color);
  position: fixed;
  inset: 0;
  z-index: 4;
  overflow-y: auto;
}

header .header .primary-navigation-dialog .dialog-container .navigation-list {
  border-bottom: 1px solid var(--header-border-color);
  padding-block-end: 3rem;
  padding-inline-start: 2rem;
}

header .header .primary-navigation-dialog[open] {
  animation: show-nav-dialog .5s;
}

header .header .primary-navigation-dialog.hide {
  animation: hide-nav-dialog .5s;
}

@keyframes show-nav-dialog {
  from {
      transform: translateY(-110%);
  }

  to {
      transform: translateY(0%);
  }
}

@keyframes hide-nav-dialog {
  to {
      transform: translateY(-110%);
  }
}

/* tours dialog */
header .header .tours-navigation {
  width: 100%;
  height: max-content;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
  border-color: var(--header-background-color);
  overflow-y: auto;
  border-radius: 8px;
  margin: 0;
}

header .header .tours-navigation[open] {
  animation: show-tours-dialog .5s;
}

header .header .tours-navigation.hide {
  animation: hide-tours-dialog .5s;
}

@keyframes show-tours-dialog {
  from {
      transform: translateY(200%);
  }

  to {
      transform: translateY(0%);
  }
}
@keyframes hide-tours-dialog {
  to {
      transform: translateY(200%);
  }
}

header .header .tours-navigation .dialog-body > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header .header .tours-navigation .dialog-body > ul  > li {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

header .header .tours-navigation .close {
  outline: transparent solid 2px;
  outline-offset: 2px;
}

header .header .tours-navigation .close svg {
  border: 1px solid var(--header-border-color);
  border-radius: 100px;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  header .header .tours-navigation[open] {
    animation-name: none;
  }
  
  header .header .tours-navigation.hide {
    animation-name: none;
  }

  header .header .tours-navigation {
    width: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } 

  header .header .tours-navigation[open]::backdrop {
    background-color: #0004;
  }
}


/* user actions */
header .header .header-container .user-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header .header .header-container .user-actions .tours,
header .header .header-container .user-actions .user {
  display: none;
}

@media (min-width: 900px) {
  header .header .header-container .user-actions .hamburger {
    display: none;
  }

  header .header .header-container .user-actions .user { 
    display: block;
  }

  header .header .header-container .user-actions .tours {
    display: block;
    border-radius: 0;
  }
}

/* search dialog */ 
header .header .search-dialog {
  width: 100%;
  border-color: var(--header-background-color);
  position: absolute;
  inset: 0;
  z-index: 4;
  margin: 0;
  padding: 0 3.5rem;
  height: calc(var(--nav-height) - 1px);
  box-sizing: border-box;
}

header .header .search-dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header .search-dialog .dialog-container {
  grid-auto-flow: column;
  width: 100%;
  max-width: 1280px;
  gap: 2rem;
  grid-template-columns: 24px 1fr 24px;
}

header .header .search-dialog .dialog-container > input {
  font-family: inherit;
  border: 0;
  outline: transparent solid 2px;
  outline-offset: 2px;
}

header .header .search-dialog .dialog-container > input:focus-visible {
  box-shadow: rgb(49 130 206) 0 0 0 1px;
  border: none;
  border-radius: 4px;
}

header .header .search-dialog .dialog-container .close svg {
  border: 1px solid var(--header-border-color);
  border-radius: 100px;
  box-sizing: border-box;
}