main .course-container {
  --course-background-color: var(--color-blue);
  --course-background-transparent-color: var(--color-blue-95);
  --course-border-color: var(--color-white);
  --course-buttons-background-color: var(--color-black-95);
  --course-button-color: var(--color-gray);
  --course-button-color-selected: var(--color-white);

  padding: 0;
}

main .course-wrapper {
  position: relative;
  max-width: 1400px;
}

main .course-buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 420px;
  padding: 16px;
  background-color: var(--course-background-color);
  z-index: 1;
}

main .course-buttons button {
  width: 10px;
  height: 10px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--course-button-color);
  border-color: var(--course-background-color);
}

main .course-buttons button.selected {
  border-color: var(--course-button-color-selected);
  background-color: var(--course-button-color-selected);
}

@media (min-width: 700px) {
  main .course-buttons button {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 900px) {
  main .course-buttons {
    left: 0;
    bottom: 32px;
    transform: unset;
    max-width: unset;
    padding-right: calc((100% / 3) + 32px);
    justify-content: center;
    gap: 12px;
    background-color: #0008;
  }

  main .course-buttons button {
    border-color: #0008;
  }
}

@media (min-width: 1200px) {
  main .course-buttons {
    bottom: 48px;
    padding-right: calc((100% / 3) + 48px);
    gap: 16px;
  }
}

main .course {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}

main .course h2,
main .course h3 {
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--overlay-text-color);
  font-family: var(--body-font-family);
}

main .course::-webkit-scrollbar {
  display: none;
}

/* course slide */
main .course picture {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

main .course img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .course .course-hole {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  scroll-snap-align: start;
}

@media (min-width: 900px) {
  main .course .course-hole {
    background-image: linear-gradient(to right, transparent 33%, #0006);
  }
}

main .course .course-hole-image { /* bg img wrapper */
  margin: 0;
  line-height: 0;
  flex-grow: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 50vw;
}

@media (min-width: 900px) {
  main .course .course-hole-image {
    min-height: 804px;
  }
}

main .course .course-hole-text {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  padding-bottom: 40px; /* for buttons */
  background-color: var(--course-background-color);
  color: var(--overlay-text-color);
  font-size: var(--body-font-size-xxs);
}

@media (min-width: 700px) {
  main .course.stats .course-hole-text {
    display: grid;
    grid-template-areas:
      'data stats'
      'credits stats';
    grid-template-columns: 3fr 2fr;
    gap: 0 32px;
  }
}

@media (min-width: 900px) {
  main .course .course-hole-text {
    display: grid;
    grid-template: 
      'data' 1fr
      'credits' auto / 1fr;
    gap: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    width: calc(100% / 3);
    max-width: 420px;
    padding-bottom: 0;
    background-color: var(--course-background-transparent-color);
    z-index: 1;
  }

  main .course.stats .course-hole-text {
    grid-template:
      'data' 1fr
      'stats' auto
      'credits' auto / 1fr;
  }
}

@media (min-width: 1200px) {
  main .course .course-hole-text {
    top: 32px;
    right: 32px;
    bottom: 32px;
  }
}

/* course data */
main .course .course-hole-data {
  grid-area: data;
}

main .course .course-hole-data .course-hole-subtitle {
  margin-top: 0;
  font-size: var(--body-font-size-s);
}

main .course .course-hole-data .course-hole-par {
  text-transform: uppercase;
}

main .course .course-hole-data .course-hole-overhead {
  display: none;
  visibility: hidden;
  margin: unset;
}

main .course .course-hole-data .course-hole-overhead picture,
main .course .course-hole-data .course-hole-overhead img {
  position: static;
  transform: unset;
  width: auto;
  max-height: 42px;
}

@media (min-width: 700px) {
  main .course .course-hole-data {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 16px;
    font-size: var(--body-font-size-xs);
  }

  main .course .course-hole-data h2 {
    grid-column: 1;
    font-size: var(--heading-font-size-l);
  }

  main .course .course-hole-data .course-hole-subtitle {
    grid-column: 1;
  }

  main .course .course-hole-data .course-hole-overhead {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: end;
    display: unset;
    visibility: visible;
  }

  main .course .course-hole-data p {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 900px) {
  main .course .course-hole-data {
    grid-template-rows: auto auto 1fr;
  }

  main .course .course-hole-data p:last-child {
    max-height: 580px;
    overflow-y: auto;
    padding-right: 4px;
  }

  main .course.stats .course-hole-data p:last-child {
    max-height: 470px;
  }
}

@media (min-width: 1200px) {
  main .course .course-hole-data p:last-child {
    max-height: calc(580px - 64px);
  }

  main .course.stats .course-hole-data p:last-child {
    max-height: calc(470px - 64px);
  }
}

/* course credits */
main .course .course-hole-credits {
  grid-area: credits;
  border-top: 1px solid var(--course-border-color);
  text-align: right;
  text-transform: uppercase;
}

/* course stats */
main .course.stats .course-hole-stats {
  grid-area: stats;
  display: none;
  visibility: hidden;
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
}

main .course.stats .course-hole-stats h3 {
  flex-basis: 100%;
  border-bottom: 1px solid var(--course-border-color);
  text-transform: initial;
  white-space: nowrap;
}

main .course.stats .course-hole-stats .course-hole-avg {
  position: relative;
  width: 48px;
  height: 48px;
  outline: 3px solid var(--highlight-background-color);
  border: 3px solid var(--course-background-color);
  border-radius: 50%;
  padding: 16px;
  background-color: var(--highlight-background-color);
  color: var(--course-background-color);
  line-height: 1;
  text-align: center;
}

main .course.stats .course-hole-stats .course-hole-avg p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

main .course.stats .course-hole-stats .course-hole-avg span {
  display: block;
  font-size: var(--body-font-size-l);
}

main .course.stats .course-hole-stats .course-hole-chart td:first-child {
  width: 50%;
}

main .course.stats .course-hole-stats .course-hole-chart td:nth-child(2) { 
  text-align: right;
}

main .course.stats .course-hole-stats .course-hole-chart td:last-child {
  color: var(--color-gray-light);
}

main .course.stats .course-hole-stats table {
  min-height: 118px;
}

main .course.stats .course-hole-stats .course-hole-bar {
  height: var(--body-font-size-s);
  background-color: #a2a7ab;
  float: right;
}

main .course.stats .course-hole-stats tr:nth-child(1) .course-hole-bar {
  background-color: #1c619b;
}

main .course.stats .course-hole-stats tr:nth-child(2) .course-hole-bar {
  background-color: #99d9f4;
}

main .course.stats .course-hole-stats tr:nth-child(4) .course-hole-bar {
  background-color: #f7b941;
}

main .course.stats .course-hole-stats tr:nth-child(5) .course-hole-bar {
  background-color: #ee5a00;
}

@media (min-width: 700px) {
  main .course.stats .course-hole-stats {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0 8px;
    visibility: visible;
  }

  main .course.stats .course-hole-stats h3 {
    margin-bottom: 16px;
  }

  main .course.stats .course-hole-stats table {
    flex: 1 0 auto;
  }
}

@media (min-width: 900px) {
  main .course.stats .course-hole-stats {
    box-sizing: border-box;
    border-top: 1px solid var(--course-border-color);
    padding: 16px 0;
    align-items: center;
  }

  main .course.stats .course-hole-stats h3 {
    display: none;
    visibility: hidden;
  }
}
