/* below the fold CSS goes here */
@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/pages/fonts/SuisseIntl-Regular-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/pages/fonts/SuisseIntl-RegularItalic-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/pages/fonts/SuisseIntl-SemiBold-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/pages/fonts/SuisseIntl-SemiBoldItalic-WebS.woff2") format("woff2")
}

@font-face {
  font-family: Tobias;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/pages/fonts/Tobias-Regular.woff2") format("woff2")
}
