main.sidekick-tool {
  --color-primary: var(--link-color);
  --color-secondary: var(--link-hover-color);
  --color-gray-light: #ccc;
}

main.sidekick-tool .section.sidebar,
main.sidekick-tool .section.preview {
  padding-top: 32px;
  padding-bottom: 32px;
}

main.sidekick-tool .section:not(:first-of-type) {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  main.sidekick-tool .section:not(:first-of-type) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  main.sidekick-tool {
    display: grid;
    grid-template-columns: 380px 1fr;
    min-height: 100vh;
  }

  main.sidekick-tool .section.sidebar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 380px;
    height: 100vh;
    overflow-y: auto;
  }

  main.sidekick-tool .section.preview {
    grid-column-start: 2;
  }
}

/* sidebar */
main.sidekick-tool .section.sidebar {
  background-color: var(--color-primary);
  color: var(--overlay-text-color);
}

main.sidekick-tool .section.sidebar .sidebar-title {
  margin: 0;
  color: var(--overlay-text-color);
  font-size: var(--heading-font-size-m);
}

/* preview */
main.sidekick-tool .section.preview {
  background-color: var(--highlight-background-color);
}

/* form */
main.sidekick-tool .form {
  color: var(--text-color);
  text-align: left;
}

main.sidekick-tool .form label { /* label for accessibility, not display */
  position: absolute;
  width: 1px; 
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
}

main.sidekick-tool .form .form-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
  color: var(--overlay-text-color);
  font-weight: bold;
}

main.sidekick-tool .form .form-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px 8px;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xs);
}

main.sidekick-tool .form .form-input input:placeholder-shown {
  background-color: #FFE8BD;
}

main.sidekick-tool .form input[type='checkbox'] {
  width: unset;
  margin: 0;
}

main.sidekick-tool .form .form-input p,
main.sidekick-tool .form .form-input input {
  margin: 0;
}

main.sidekick-tool .form .form-input input {
  flex: 2 1 max-content;
  width: unset;
  max-width: unset;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 8px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

main.sidekick-tool .form .form-input .form-protocol,
main.sidekick-tool .form .form-input .form-slash {
  flex: 0 0 max-content;
}

main.sidekick-tool .form .form-input input.form-short {
  flex: 1 0 50px;
  width: 50px;
  text-align: center;
}

main.sidekick-tool .form .form-input .form-dynamic {
  padding: 4px 8px;
  background-color: var(--background-color);
  cursor: not-allowed;
}

main.sidekick-tool .form button {
  width: 100%;
  background-color: var(--color-secondary);
}

main.sidekick-tool .form button:disabled {
  border-color: var(--color-gray);
  background-color: var(--color-gray-dark);
  color: var(--color-gray);
  cursor: not-allowed;
}

main.sidekick-tool .form .form-input + button {
  margin-top: 8px;
}

/* tabs */
main.sidekick-tool .preview .tabs {
  text-align: left;
}

main.sidekick-tool [role=tab],
main.sidekick-tool [role=tab]:focus,
main.sidekick-tool [role=tab]:hover {
  position: relative;
  top: 2px;
  outline: none;
  margin: 0;
  margin-top: 4px;
  border: 1px solid var(--color-gray-light);
  border-bottom: 2px solid var(--color-gray-light);
  border-radius: 4px 4px 0 0;
  padding: 4px;
  background-color: var(--color-gray-light);
  color: var(--text-color);
  overflow: visible;
  z-index: 2;
}

main.sidekick-tool [role=tab][aria-selected=true] {
  margin-top: 0;
  border-width: 2px;
  border-top-color: var(--color-primary);
  border-bottom-color: var(--highlight-background-color);
  background-color: var(--highlight-background-color);
  font-weight: bold;
}

main.sidekick-tool [role=tab][aria-selected=false] {
  border-bottom: 1px solid var(--color-gray-light);
}

main.sidekick-tool [role=tab] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

main.sidekick-tool [role=tabpanel] {
  border: 2px solid var(--color-gray-light);
  padding: 8px;
  background-color: var(--highlight-background-color);
  overflow: auto;
}

main.sidekick-tool [role=tabpanel][aria-hidden=true] {
  display: none;
}

main.sidekick-tool [role=tabpanel] p {
  margin: 0;
}

main.sidekick-tool .preview table.table,
main.sidekick-tool .preview table.table th,
main.sidekick-tool .preview table.table td {
  border: 1px solid black;
  padding: 2px 7px;
  vertical-align: top;
}

main.sidekick-tool .preview table.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

main.sidekick-tool .preview table.table th,
main.sidekick-tool .preview table.table td {
  width: 50%;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

main.sidekick-tool .preview table.table h2,
main.sidekick-tool .preview table.table p {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-align: left !important;
}

main.sidekick-tool .preview table.table h2 {
  margin: 0;
  color: #2f5496;
  font-size: 13pt;
}

main.sidekick-tool .preview table.table p {
  color: black;
  font-size: var(--body-font-size-xs);
}

main.sidekick-tool .preview table.table img {
  margin: 0;
}

main.sidekick-tool .preview table.table tr td:first-of-type img {
  width: 100%;
  height: auto;
}

/* block */
main.sidekick-tool .course-container,
main.sidekick-tool .course-wrapper,
main.sidekick-tool .course {
  max-width: 100%;
}

main.sidekick-tool .course picture {
  z-index: auto;
}

/* toast */
main.sidekick-tool .toast-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 380px;
  margin: 32px 16px;
  padding: 0;
  z-index: 2;
}

main.sidekick-tool .toast-wrapper[aria-hidden=true] {
  display: none;
  visibility: hidden;
}

main.sidekick-tool .toast {
  padding: 16px;
  border-radius: 2px;
  background-color: #000000e6;
  color: white;
  transition: opacity .25s, transform .25s;
  animation: fadeIn .25s;
}

main.sidekick-tool .toast.toast-info {
  background-color: #1650BBe6;
}

main.sidekick-tool .toast.toast-success {
  background-color: #21633Ee6;
}

main.sidekick-tool .toast.toast-failure {
  background-color: #AD1A00e6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(50%); }
  to { opacity: 1; transform: unset; }
}

main.sidekick-tool .toast.fadeOut {
  opacity: 0;
  transform: translateY(50%);
}

main.sidekick-tool .toast p {
  margin: 0;
  font-size: var(--body-font-size-s);
  word-break: break-word;
}

main.sidekick-tool .toast a {
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  main.sidekick-tool .toast-wrapper {
    left: unset;
    right: 16px;
    transform: unset;
    margin: 0;
  }
}

/* icons */
main.sidekick-tool .icon.icon-info {
  flex: 0 0 16px;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1.5px solid;
  border-radius: 50%;
}

main.sidekick-tool .icon.icon-info::after,
main.sidekick-tool .icon.icon-info::before {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  border-radius: 2px;
  background-color: currentColor;
}

main.sidekick-tool .icon.icon-info::after {
  bottom: 2px;
  height: 6px;
}

main.sidekick-tool .icon.icon-info::before {
  height: 1.5px;
  top: 2px;
}

main.sidekick-tool .icon span {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
}

main.sidekick-tool .icon:hover span {
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  width: 160px;
  max-width: 33vw;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--background-color);
  box-shadow: 0 0 4px #0004;
  color: var(--text-color);
  font-size: var(--body-font-size-xs);
  font-weight: lighter;
  line-height: 1.2;
  opacity: 1;
}

main.sidekick-tool .icon span::after {
  content: '';
  position: absolute;
  top: -10px; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--background-color) transparent;
}
