main .reveal-container {
  padding: 0;
}

main .reveal-wrapper {
  position: relative;
  max-width: unset;
}

main .reveal picture,
main .reveal .video-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  object-fit: cover;
}

main .reveal img,
main .reveal video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MEDIA */
main .reveal .reveal-media {
  position: sticky;
  height: 100vh;
  top: 0;
}

main .reveal .reveal-media div {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

main .reveal .reveal-media div[data-intersecting=true] {
  opacity: 1;
}

/* COPY */
main .reveal .reveal-copy {
  position: relative;
  top: 0;
  margin-top: -100vh;
}

main .reveal .reveal-copy div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100vh;
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  padding: 100vh 32px;
}

main .reveal .reveal-copy div:last-of-type {
  padding-bottom: 50vh;
}

main .reveal .reveal-copy div:not(:first-of-type) {
  padding-top: 100vh;
}

main .reveal .reveal-copy div > * {
  margin: 0;
  padding: 32px;
  background-color: var(--color-black-75);
  color: var(--color-white);
}
