footer {
  --footer-color: var(--color-white);
  --footer-text-color: var(--color-black);
  
  font-size: var(--body-font-size-xs);
  text-align: center;
}

@media (min-width: 700px) {
  footer {
    font-size: var(--body-font-size-s);
  }
}

footer .footer {
  padding-bottom: 100px;
  color: var(--footer-text-color);
  border-top: 6px solid var(--color-blue-dark);
  background-color: var(--footer-color);
}

footer .footer > div > div {
  max-width: 1400px;
  margin: auto;
  padding: 15px 0;
}

footer .footer ul {
  list-style: none;
  padding-left: 0;
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
  color: var(--footer-text-color);
}

footer .footer a {
  color: var(--footer-text-color);
  cursor: pointer;
}

footer .footer .footer-global a {
  text-transform: uppercase;
}

footer .footer a:hover {
  text-decoration: none;
}

footer .footer svg {
  fill: var(--color-white);
}

/* global content */
footer .footer .footer-lists .footer-main {
  display: none;
}

footer .footer .footer-lists .footer-sub .sub-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

footer .footer .footer-lists .footer-sub .sub-list .item {
  border: solid var(--background-color);
  border-width: 0 0 1px;
  width: 50%;
  padding: 20px 10px;
  box-sizing: border-box;
  white-space: normal;
  flex-grow: initial;
}

footer .footer .footer-lists .footer-sub .sub-list .item:last-child {
  width: 100%;
}

footer .footer .footer-social .social-items {
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  footer .footer {
    padding-bottom: 90px;
    border: none;
  }

  footer .footer .footer-global {
    background-color: var(--background-color);
    padding-bottom: 0;
  }

  footer .footer .footer-dont-sell {
    padding-bottom: 0;
  }

  footer .footer .sub-footer-global {
    padding-top: 0;
  }

  footer .footer .footer-lists .footer-main {
    display: block;
    max-width: unset;
  }

  footer .footer .footer-lists .footer-main .main-list {
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
    max-width: 1400px;
  }

  footer .footer .footer-lists .footer-main .main-list .item {
    text-align: center;
    white-space: nowrap;
    height: 110px;
  }

  footer .footer .footer-lists .footer-main .main-list .item .link-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: none;
    color: var(--color-blue-dark);
  }

  footer .footer .footer-lists .footer-main .main-list .item a span {
    display: block;
  }

  footer .footer .footer-lists .footer-main .main-list .item .link-image {
    padding: 10px 0;
    height: 60px;
  }

  footer .footer .footer-lists .footer-main .main-list .item .link-image img {
    max-width: 60px;
    max-height: 55px;
  }

  footer .footer .footer-lists .footer-sub {
    background-color: var(--footer-color);
  }

  footer .footer .footer-lists .footer-sub .sub-list {
    justify-content: space-between;
  }

  footer .footer .footer-lists .footer-sub .sub-list .item {
    border: solid #E6E6E6;
    border-width: 0 1px 1px;
    margin-right: -1px;
    padding: 25px;
    white-space: nowrap;
    flex-grow: 1;
    width: unset !important;
  }

  footer .footer .footer-lists .footer-sub .sub-list .item.visible-small {
    display: none;
  }
}
