footer .footer {
  margin-top: 2.5rem;
  margin-inline: 1.25rem;
}

footer .footer.appear {
  display: block;
}

footer .footer .footer-container {
  margin-inline: 1.25rem;
}

footer .footer .brand {
  margin-bottom: 1.875rem;
}

footer .footer .brand img {
  display: inline-block;
}

footer .footer nav {
  border-top: 2px solid;
}

footer .footer nav li {
  list-style: none;
}

footer .footer nav .nav-list {
  margin: 0 0 2rem 0;
  padding: 0;
}

footer .footer nav .nav-list .nav-heading {
  padding-block: .5rem;
  border-bottom: 1px solid #aaa;
  position: relative;
  display: block;
  cursor: pointer;
}

footer .footer nav .nav-list .nav-heading::after {
  content: url(/icons/chevron-down.svg);
  display: inline-block;
  position: absolute;
  top: .5rem;
  right: 0;
  width: 12px;
  transition: transform .3s;
}

footer .footer nav .nav-list .nav-heading.active::after {
  transform: rotate(180deg);
}

footer .footer nav .nav-list .nav-heading .nav-sublist {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}

footer .footer nav .nav-list .nav-heading .nav-sublist .nav-item img {
  display: inline;
  margin-right: .8rem;
}

footer .footer nav .nav-list .nav-heading.active .nav-sublist {
  max-height: 300px;
  visibility: visible;
  transition: max-height .3s;
}

footer .footer .privacy-links {
  display: none;
}

footer .footer .social-links {
  display: grid;
  text-align: center;
  grid-template-areas: 
    'social'
    'copyright';
}

footer .footer .social-links .copyright {
  grid-area: copyright;
}

footer .footer .social-links .social-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  grid-area: social;
}

footer .footer .social-links .social-container a > svg {
  height: 25px;
}

footer .footer .legal {
  text-align: center;
}


@media (min-width: 900px) {
  footer .footer {
    margin-inline: 1.5rem;
  }

  footer .footer .footer-container {
    margin-inline: auto;
    max-width: 1280px;
  }

  footer .footer nav {
    border-top: none;
  }

  footer .footer nav .nav-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  footer .footer nav .nav-list .nav-privacy {
    display: none;
  }

  footer .footer nav .nav-list .nav-heading {
    border-bottom: none;
    position: relative;
    cursor: unset;
    grid-column: span 2 / span 2;
  }

  footer .footer nav .nav-list .nav-heading:nth-child(5) {
    grid-column: span 3 / span 3;
    grid-column-start: 10;
  }

  footer .footer nav .nav-list .nav-heading::after {
    content: '';
  }

  footer .footer nav .nav-list .nav-heading .nav-sublist {
    max-height: 300px;
  }

  footer .footer .privacy-links {
    display: flex;
    justify-content: space-between;
    padding-block: .5rem;
    border-block: 1px solid #aaa;
  }

  footer .footer .social-links {
    grid-template-areas: 
      'copyright social';
    text-align: left;
    padding-block: .5rem;
    border-bottom: 1px solid #aaa;
  }

  footer .footer .social-links .social-container {
    justify-content: right;
    align-items: center;
  }

  footer .footer .legal {
    text-align: left;
  }
}