/* below the fold CSS goes here */
@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/SuisseIntl-Regular-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/SuisseIntl-RegularItalic-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/SuisseIntl-SemiBold-WebS.woff2") format("woff2")
}

@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/SuisseIntl-SemiBoldItalic-WebS.woff2") format("woff2")
}

@font-face {
  font-family: Tobias;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Tobias-Regular.woff2") format("woff2")
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
